.flag {
	margin: 30px;
	width: 600px;
	height: 400px;
	border: 1px solid black;
	overflow: hidden;

}

/* Flag of Belgium */
.black {
	margin:0px;
	width: 200px;
	height: 400px;
	background: black;

}

.yellow {
	margin:0px;
	width: 200px;
	height: 400px;
	background: yellow;
	left: 200px;
	position: relative;
	top: -400px;

}

.red {
	margin:0px;
	width: 200px;
	height: 400px;
	background: red;
	left: 400px;
	position: relative;
	top: -800px;

}

/* Flag of Japan */

.reddot {
	width:200px;
	height: 200px;
	background: red;
	border-radius: 100%;
	left: 200px;
	top: 100px;
	position: relative;
}


/* Flag of Trinidad and Tobago */

.trired {
	width: 600px;
	height:400px;
	background: red;
	position:relative;

}

.triwhite {

	width: 100px;
	height: 820px;
	position: relative;
	background:black;
	border: 30px solid white;
	top: -600px;
	left: 255px;
	transform: rotate(136deg);
}

